<?xml version="1.0"?>

<config>
    
    <modules>
        <BothInteract_ConfigurableProductVariantsImageAssignment>
            <version>1.6.1</version>
        </BothInteract_ConfigurableProductVariantsImageAssignment>
    </modules>
    
    <global>
        <!-- inform Magento of our new model class-->
        <models>
            <bothinteract_configurableproductvariantsimageassignment>
                <class>BothInteract_ConfigurableProductVariantsImageAssignment_Model</class>
            </bothinteract_configurableproductvariantsimageassignment>
        </models>
        <!-- attach our observer class to catalog_product_save_after event-->
        <events>
            <catalog_product_save_after>
                <observers>
                    <bothinteract_configurableproductvariantsimageassignment_model_observer>
                        <type>singleton</type>
                        <class>BothInteract_ConfigurableProductVariantsImageAssignment_Model_Observer</class>
                        <method>catalog_product_save_after</method>
                    </bothinteract_configurableproductvariantsimageassignment_model_observer>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    
    <default>
        <bothinteract_configurableproductvariantsimageassignment>
            <general>
                <is_active>0</is_active>
                <is_simulation>1</is_simulation>
                <is_https_media_urls>0</is_https_media_urls>
                <required_image_types></required_image_types>
                <log_file>configurableproductvariantsimageassignment.log</log_file>
            </general>
        </bothinteract_configurableproductvariantsimageassignment>
    </default>
</config>