<?xml version="1.0"?>

<config>
                
    <tabs>
        <bothinteract translate="label">
            <label>Both Interact GmbH</label>
            <sort_order>100</sort_order>
        </bothinteract>
    </tabs>

    <sections>
        <bothinteract_configurableproductvariantsimageassignment translate="label" module="adminhtml">
            <label>Product Variants Image Assignment</label>
            <tab>bothinteract</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store> 
                       
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    
                    <fields>
                        <is_active translate="label">
                            <label>Active</label>
                            <comment>
                <![CDATA[Check this box to <b>activate</b> automatic image assignment for product variants.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
                        <is_simulation translate="label">
                            <label>Simulate</label>
                            <comment>
                <![CDATA[Check this box to <b>simulate</b> automatic image assignment 
                         for product variants. Child products will not be changed. 
                         Please refer to log for more information.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_simulation>
                        <is_https_media_urls translate="label">
                            <label>Secure Media URLs (https)</label>
                            <comment>
                <![CDATA[Check this box if your media files are linked using <b>https</b>.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_https_media_urls>
                        <required_image_types translate="label">
                            <label>Required Image Types</label>
                            <comment>
                <![CDATA[Please select required image types for child products.]]>
                            </comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>BothInteract_ConfigurableProductVariantsImageAssignment_Model_System_Config_Source_View</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </required_image_types>
                        <log_file translate="label">
                            <label>Log file</label>
                            <comment>
                <![CDATA[Please specify a name for your custom <b>log file</b>.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </log_file>
                    </fields>
                </general>
            </groups>
        </bothinteract_configurableproductvariantsimageassignment>
    </sections>
</config>